<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lingmiao.distribution">


    <!-- 基本权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" /> <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" /> <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <!-- Required -->
    <permission
        android:name="com.lingmiao.distribution.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.lingmiao.distribution.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在 6.0 系统上的层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.lingmiao.distribution.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>
        </provider>


        <activity
            android:name="com.lingmiao.distribution.ui.activity.WelcomeActivity"
            android:theme="@style/Appwelcome"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lingmiao.distribution.ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lingmiao.distribution.ui.activity.RegisterActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lingmiao.distribution.ui.activity.AgreementActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.lingmiao.distribution.ui.activity.IdentityAtActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lingmiao.distribution.ui.activity.IdentityNoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lingmiao.distribution.ui.activity.IdentityExamineActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.lingmiao.distribution.ui.activity.HomeDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.lingmiao.distribution.ui.activity.HomeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lingmiao.distribution.ui.activity.MessageListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lingmiao.distribution.ui.activity.EvaluateCustomerActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.lingmiao.distribution.ui.activity.CostDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lingmiao.distribution.ui.activity.AboutUsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lingmiao.distribution.ui.activity.IdentityExNoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.lingmiao.distribution.ui.activity.FailedToSignInTwoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.login.LoginActivity"
            android:screenOrientation="portrait"/>

        <!--niuxinyu-->
        <activity android:name=".ui.activity.PersonalInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.OrderFeeListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BillListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BillDetailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BillConfirmActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyWalletActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PayTypeAliActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PayTypeBankActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyBalanceActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyDepositActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MyIntegralActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RechargeActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.WithdrawalActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.HelpCenterActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.PlatformRulesActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.SettingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ModifyPasswordActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ModifyPhoneActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ComplaintActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ReportExceptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.FailedToSignInActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.RejectionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.MapActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ReportExceptionListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ComplaintListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CardBindListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.CardUnBindActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.ScanActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.ScanOrderActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.activity.BatchDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.HistoryOrderActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.MainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.DispatchDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.OrderScanActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.HistoryListActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.OrderDetailActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.main.OperateSignActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.OperateCommentActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.OperateExceptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.OperatePickFailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.OperateSignFailActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.OperateFeedbackActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".ui.main.SearchActivity"
            android:screenOrientation="portrait"/>

        <!-- 后台下载 -->
        <service android:name=".service.UpdateService"/>

        <!-- 推送相关。。。。。。。。。。。。。。。。。。。。。。。。。。。。。推送相关 -->
        <service
            android:name=".service.PushService"
            android:enabled="true"
            android:exported="false"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>

        <!-- Required since 3.0.7 -->
        <!-- 新的 tag/alias 接口结果返回需要开发者配置一个自定的广播 -->
        <!-- 3.3.0开始所有事件将通过该类回调 -->
        <!-- 该广播需要继承 JPush 提供的 JPushMessageReceiver 类, 并如下新增一个 Intent-Filter -->
        <receiver
            android:name=".service.JPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".service.MyJPushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>
        <!-- 极光统计  END -->

        <!--高德地图-->
        <meta-data android:name="com.amap.api.v2.apikey" android:value="${AMAP_KEY}"/>
<!--        <meta-data android:name="com.amap.api.v2.apikey" android:value="8ff8fe395a8be11c1f23e5d892f32d92"/>-->
        <!-- 定位需要的服务 适配Android Q需要加上android:foregroundServiceType="location"-->
        <service  android:name="com.amap.api.location.APSService" />


        <!--支付宝end-->
        <!--微信支付-->
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <!--微信支付end-->
    </application>

</manifest>